/* src/styles/LandingPage.css */
.landing-container {
    /* background-image: url('./../assets/images/5.png'); */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-image: url('./../assets/images/5.png');
    background-size: cover; /* Ensures the image covers the full container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Copperplate', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    /* Adjust size as needed */
}

.landing-container h1,
.landing-container p {
    margin: 0.5rem;
}

.landing-container button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

